@import "tailwindcss";

@source "../components";

@theme {
  --font-syne:    "Syne", sans-serif;
  --font-figtree: "Figtree", sans-serif;
  --font-mono:    "JetBrains Mono", monospace;

  --color-bg:      #f0e6d4;
  --color-bg2:     #ede3d0;
  --color-surface: #e5d8c4;
  --color-border:  #d6c8b0;
  --color-accent:  #ea5a0f;
  --color-muted:   #8a7560;
  --color-bright:  #1e1408;
  --color-text:    #2e2416;

}

:root {
  --glow: rgba(196, 75, 0, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;
}